<div class="mt-4">
    <h3>Create a New Course</h3>
    <form method="POST" action="/courses/store">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="name" >

        <label for="description">Description</label>
        <input type="text" name="description" class="form-control" id="description" >

        <label for="videoId">Video ID</label>
        <input type="text" name="videoId" class="form-control" id="videoId" >

        <label for="level">Level</label>
        <input type="text" name="level" class="form-control" id="level" >


    </div>

    <button type="submit" class="btn btn-primary">Add Course</button>
    </form>
</div>