<div class="mt-50">
    <footer class="text-center">
        <p>&copy; 2023 Your Company. All rights reserved.</p>
        <p>Follow us on 
            <a href="https://twitter.com/yourcompany" target="_blank">Twitter</a>, 
            <a href="https://facebook.com/yourcompany" target="_blank">Facebook</a>, 
            <a href="https://instagram.com/yourcompany" target="_blank">Instagram</a>
        </p>
    </footer>
</div>