<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Courses</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://www.gravatar.com/avatar/fbfff816eb35652f8931e3e4b2d6652aeca090c20b62674cbcdd3b3b7a3a2e3e.jpg?s=80&d=mp&r=g" alt="" class="user-avartar">
            Bao Kim
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Create course</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">My courses</a>
            <a class="dropdown-item" href="/me/stored/news">My news</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </li>
      </ul> 

    </div>
  </div>
</nav>