<div class="page-header">
    <h1>WELCOME!</h1>
    <p>Loreem ipsum loreem ipsum loreem ipsum loreem ipsum</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Course 1</h2>
                <p class="card-text">Loreem ipsum loreem ipsum loreem ipsum loreem ipsum</p>
                <a href="#" class="btn btn-primary">Open Course</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Course 2</h2>
                <p class="card-text">Loreem ipsum loreem ipsum loreem ipsum loreem ipsum.</p>
                <a href="#" class="btn btn-primary">Open Course</a>
            </div>
        </div>
    </div>
</div>
